{% extends 'base_layout.html' %}

{% block content %}	
	<div class="container">
		<h1 class="article-list">Your Articles</h1>
		<div class="articles">
			<div class="row ">
				{% for article in articles %}
				{% if article.author == request.user %}
				<div class="col-sm-4 article">
					<div class="article-body">
							
							<p class="article-thumb">
								<a href= "{% url 'articles:detail' slug=article.slug %} ">
							<img src="{{article.image.url}}">	</a>
							</p>
							<h2>
							{{article.title}}
							</h2>
							<p class="info">{{article.snippet}}</p>
							<p class="date">{{article.date}}</p>
					</div>
					
				</div>
				{% endif %}
				{% endfor %}

			</div>	
		</div>	
	</div>	
{% endblock %}